@import'clear';
@import'mixins';
@import'fonts';
*{
    box-sizing: border-box;
}
.container{
    max-width: 1800px;
    width: 100%;
    margin: 0 auto ;
}
main{
 background-image: url(../img/Grunge-texture.png);
 background-color: black;
 font-family: 'MADE';

}
.nav__link{
    text-decoration: none;
    color: #f7f7f7;
}
.header{
   font-weight: bold;
    font-size: 14px;
    padding: 52px 0;
    &-wrapper{
        display: flex;
        justify-content: space-between;
        .nav{
            display: flex;
            align-items: center;
            &__link{
                margin-right: 40px;
            }
            .burger{
                margin-right: 60px;
                width: 60px;
                height: 18px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                &:hover{
                    cursor: pointer;
                }
                span{
                    width: 60px;
                    height: 2px;
                    background-color: #f7f7f7;
                }
            }
            
        }
        .logo{
            max-width: 200px;
            img{
                width: 100%;
            }
        }
        .nav-details{
            display: flex;
            align-items: center;
            .shop-basket{
                width: 28px;
                height: 28px;
                background-image: url(../img/Shoping-bag.svg);
                position: relative;
                margin: 0 60px;
                .number{
                    position: absolute;
                    top: -10px;
                    right: -10px;
                    color: #E50012;
                    font-size: 12px;
                   &::after{
                    content: '';
                    position: absolute;
                    width: 25px;
                    height: 22px;
                    top: -5px;
                    left: -6px;
                    background-image: url(../img/Vector.svg);
                   }
                }
            }
            .language{
               span{
                color: rgba(255, 255, 255, 0.3);
                cursor: pointer;
               }
                 &>.active{
                    color: #f7f7f7;
               }
                width: 56px;
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
        }
    }
}
.rooms{
    font-size: 14px;
    &-wrapper{
        display: flex;
        justify-content: space-between;
    }
    &-card{
        max-height: 801px;
        max-width: 351px;
        &--active{
            border: 1px solid red;
        }
        &-limit{
            display: flex;
            justify-content: space-between;
            align-items: center;
            max-width: 364px;
            padding: 14px 10px;
            width: 100%;
            position: absolute;
            top: 30px;
            color: #F7F5F9;
            background-image: url(../img/bg.png);
            .date{
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                &-title{
                    font-weight: 300;
                }
                &-number{
                    font-weight: bold;
                    font-size: 18px;
                    margin-top: 10px;
                }
            }
            .safe{
                font-family: 'Morganite';
                font-size: 56px;
                text-transform: uppercase;
                
            }
        }
        figure{
            position: relative;
            height: 100%;
            img{
                height: 100%;
                width: 100%;
                position: relative;
              
            }
            .rooms-card__gradient{
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background: linear-gradient(180deg, rgba(0, 0, 0, 0) 52.74%, rgba(17, 13, 13, 0.9) 100%);
            }
            
            .rooms-details{
                z-index: 2;
                position: absolute;
                bottom: 50px;
                right: 0;
                left: 0;
                max-width: 246px;
                margin: 0 auto;

            } 
           
        }
        &__name{
                font-weight: bold;
                font-size: 36px;
                color: #F7F5F9;
        }
        &__action{
            margin-top: 70px;
            font-weight: 300;
            color: #F7F5F9;
            &--before{
                position: relative;
                &::before{
                    content: '';
                    position: absolute;
                    width: 28px;
                    height: 28px;
                    background-image: url(../img/Mask.svg);
                    right: 30px;
                    top: -7px
                }
            }
        }
    }
}